#searchInput {
    width: 60%;       /* Stretches input across the full width of its container */
    padding: 10px;      /* Adds padding inside the input field */
    padding-left: 20px;
    font-size: 16px;    /* Adjusts font size inside the input */
    box-sizing: border-box; /* Ensures padding and borders are included in the width */
}
#inputLabel {
    font-size: 20px;
    font-family: Arial;
}
.tool {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    list-style-type: none;
}
.tool li {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu {
    display: flex;
    justify-content: space-between; /* Even spacing between items */
    padding: 0 20px; /* Optional padding for spacing from the edges */
    list-style-type: none; /* Remove default list styles */
}
.menu li {
    font-size: 20px; /* You can adjust the size of the text */
    font-family: Arial, Helvetica, sans-serif;
}
.note h1 {
    font-family: Arial, Helvetica, sans-serif;
}
.doc_header {
    background-color: cadetblue;
    padding-bottom: 50px;
}
.doc_footer {
    background-color: cadetblue;
    padding-bottom: 70px;
}
#doc_aside {
    width: 30%;
    padding-left: 20px;
    margin-left: 20px;
    padding-bottom: 250px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}